body {
	background: #202A44;
}

html, body .main{
	height:75%;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 52px;
	color: #fff;
}

.main {
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
	align-items: center;
    justify-content: center;
}

.main, .title {
	text-align: center;
	margin-bottom: 5%;
}

button {
	appearance: button;
	text-decoration: none;

	background: none;
	color: #fff;
	border: 5px solid #F6BE00;
	padding: 10px 20px;
	font-size: 52px;
	border-radius: 10px;
	transition: 0.5s;
	margin: 15px;
	min-width: 300px;
}

button:hover {
	background: #202A44;
	color: #F6BE00;
	border: 7.5px solid #F6BE00;
	transform: scale(1.1);
	margin: 15px;
	min-width: 300px;
}

#flashcard {
	background: #fff;
	color: #202A44;
	font-size: 36px;

	padding: 10px 20px;
	border: 5px solid #fff;
	border-radius: 10px;
	min-height: 300px;
	min-width: 500px;
}

#icon img {
	transition: 0.5s;
}
#icon img:hover {
	transform: scale(1.5);
	rotate: 25deg;
}

#link {
	font-size: 14px;
	color: #F6BE00;
	text-decoration: none;

	position: relative;
	transition: 0.25s;
}
#link:hover {
  text-decoration: underline;

  color: #FAA210;
  transform: scale(1.1);
}

.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
